//#region mixins
@mixin headline-text {
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;

  @media (min-width: 800px) {
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.2px;
  }
}

@mixin title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

@mixin sub-heading-text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

@mixin button-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
}

@mixin subtitle-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

@mixin paragraph-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

@mixin link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

@mixin mobile-menu-text {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.2px;
}
//#endregion

//#region common classes
.primary-button {
  border: none;
  background-color: #4452fe;

  @media (hover: hover) {
    &:hover {
      background-color: #3543e3;
    }
  }
}

.secondary-button {
  border: none;
  background-color: transparent;
  outline: 1px solid white;

  @media (hover: hover) {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.button {
  @include button-text;
  padding: 13.5px 45px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  text-wrap: balance;
  text-align: center;

  .headline-text {
    @include headline-text();
    width: 60%;
  }
  .sub-heading-text {
    @include sub-heading-text();
    margin-bottom: 57px;
    width: 75%;
  }
}
//#endregion mixins

html {
  background-color: #181818;
  color: #ffffff;

  font-family: 'roboto', sans-serif;
}

header {
  .header-content {
    margin: 0 auto;
    display: flex;
    height: 107px;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 800px) {
      width: 70%;
      max-width: 1200px;
    }

    .logo-wrapper {
      .logo {
        margin-left: 34px;
        width: 186px;
        height: 58px;
      }
    }

    ul {
      flex-direction: row;
      gap: 31px;
      display: none;

      @media (min-width: 1050px) {
        display: flex;
      }

      li {
        @include link-text();
        padding: 10px;
      }
    }

    .right-panel {
      display: flex;
      align-items: center;

      .login-button {
        @media (max-width: 450px) {
          display: none;
        }
      }

      .menu-icon {
        margin: 28px 16px;
        width: 66px;
        height: 53px;

        @media (min-width: 1050px) {
          display: none;
        }
      }
    }
  }
}

main {
  .intro-block {
    margin: 57px 0 57px;

    @media (min-width: 450px) {
      margin: 57px 75px 57px;
    }

    .buttons-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 21px;

      @media (min-width: 800px) {
        flex-direction: row;
        gap: 35px;
      }
    }
  }

  .dashboards {
    overflow: hidden;
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.013) 8.1%,
      hsla(0, 0%, 0%, 0.049) 15.5%,
      hsla(0, 0%, 0%, 0.104) 22.5%,
      hsla(0, 0%, 0%, 0.175) 29%,
      hsla(0, 0%, 0%, 0.259) 35.3%,
      hsla(0, 0%, 0%, 0.352) 41.2%,
      hsla(0, 0%, 0%, 0.45) 47.1%,
      hsla(0, 0%, 0%, 0.55) 52.9%,
      hsla(0, 0%, 0%, 0.648) 58.8%,
      hsla(0, 0%, 0%, 0.741) 64.7%,
      hsla(0, 0%, 0%, 0.825) 71%,
      hsla(0, 0%, 0%, 0.896) 77.5%,
      hsla(0, 0%, 0%, 0.951) 84.5%,
      hsla(0, 0%, 0%, 0.987) 91.9%,
      hsl(0, 0%, 0%) 100%
    );

    img {
      height: auto;
      width: 150%;
      margin-left: -25%;
      position: relative;
      z-index: -1;
      object-fit: scale-down;

      @media (min-width: 800px) {
        margin-left: -10%;
        width: 120%;
      }

      @media (min-width: 1000px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  .features-block {
    margin: 160px 0;

    @media (min-width: 450px) {
      margin: 160px 60px 220px; //TODO: maybe unify margins of blocks (this 60px)
    }

    .content-block {
      display: flex;
      flex-direction: column;

      @media (min-width: 1000px) {
        flex-direction: row;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
      }

      .dashboard {
        height: auto;
        width: 100%;

        @media (min-width: 1000px) {
          width: 60%;
        }
      }

      .features-list {
        margin: 27px 35px 0;
        flex-basis: 40%;

        li {
          margin: 20px;

          &:not(:last-child) {
            margin-bottom: 35px;
          }

          .feature-header {
            display: flex;
            align-items: center;
            gap: 10px;

            .feature-icon {
              height: 45px;
              width: auto;
            }

            .feature-title {
              @include title-text();
            }
          }

          .feature-description {
            @include paragraph-text();
          }
        }
      }
    }
  }

  .contents-block {
    .cards {
      display: flex;
      flex-direction: column;
      gap: 35px;
      margin: 0 20px;
      align-items: center;

      @media (min-width: 550px) {
        margin: 0 100px;
      }

      @media (min-width: 950px) {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
      }

      .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: white;
        text-align: center;
        border-radius: 10px;
        max-width: 475px;
        flex: 1;

        .title {
          @include title-text();
          color: black;
          margin: 50px 120px 0;
          text-wrap: balance;
        }

        .description {
          @include paragraph-text();
          color: #5c5c5c;
          margin: 20px 50px 40px;
          text-wrap: balance;
        }

        .image-wrapper {
          margin: 57px 0px 40px;
          width: calc(100% - 50px);

          img {
            height: auto;
            width: 100%;

            &.notification-page {
              margin: -20px 0 -30px;
            }
          }
        }
      }
    }
  }

  .gallery-block {
    margin-top: 200px;

    .photos-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
      justify-content: center;
      margin: 0 20px;

      @media (min-width: 550px) {
        margin: 0 100px;
      }

      @media (min-width: 1000px) {
        flex-direction: row;
      }

      &.second-group {
        display: none;

        @media (min-width: 1000px) {
          margin-top: 44px;
          display: flex;
          align-items: flex-start;
        }
      }

      img {
        border-radius: 12px;
        min-width: 0;
        min-height: 0;
        width: 100%;
        height: auto;
        max-width: 475px;

        @media (min-width: 1000px) {
          display: flex;
          max-width: unset;
          width: unset;
          max-height: 165px;
        }
      }
    }

    .buttons-wrapper {
      text-align: center;
      margin-top: 44px;
    }
  }

  .partners-block {
    margin-top: 200px;

    .icons-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 25px;

      @media (min-width: 550px) {
        gap: 50px;
      }

      @media (min-width: 1000px) {
        flex-direction: row;
      }

      .icons-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        @media (min-width: 550px) {
          gap: 50px;
        }

        @media (min-width: 1000px) {
          height: 72px;
        }

        img {
          width: 61px;
          height: auto;
        }
      }
    }

    .buttons-wrapper {
      margin-top: 63px;
      text-align: center;
    }
  }

  .testimonials-block {
    margin-top: 200px; //TODO: maybe reuse

    .headline-text {
      width: unset;
    }

    .testimonials-group-wrapper {
      margin: 50px 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      @media (min-width: 550px) {
        margin: 50px 100px 0;
      }

      @media (min-width: 1000px) {
        flex-direction: row;
        align-items: start;
      }

      .testimonials-group {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .testimonial {
          border: 1px solid #565656;
          border-radius: 10px;
          padding: 30px 40px 30px 30px;
          max-width: 350px;

          @media (min-width: 550px) {
            padding: 40px 75px 40px 40px;
          }

          .profile {
            display: flex;
            align-items: center;
            gap: 25px;

            img {
              width: 50px;
              height: auto;
            }

            .name {
              @include link-text();
            }

            .role {
              @include subtitle-text();
            }
          }

          .testimonial-text {
            margin-top: 30px;
            @include paragraph-text();
          }
        }
      }
    }
  }
}

footer {
  margin: 100px 0;

  .footer-groups-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    column-gap: 100px;
    margin: 0 50px;

    @media (min-width: 450px) {
      margin: 0 120px;
    }
    margin: 0 50px;

    @media (min-width: 1200px) {
      margin: 0 auto;
      max-width: 1000px;
    }

    @media (min-width: 950px) {
      flex-direction: row;
    }

    .footer-links-group {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 20px;

      .group-title {
        @include title-text();
        margin-bottom: 20px;
      }

      .footer-link {
        @include link-text();
      }
    }

    .contacts-wrapper {
      flex: 2;
      display: flex;

      @media (min-width: 950px) {
        justify-content: flex-end;
      }

      .contacts {
        display: inline-block;

        .address,
        .phone {
          display: flex;
          align-items: center;
          gap: 10px;
          white-space: nowrap;

          img {
            width: auto;
            height: 35px;
          }
        }

        .phone {
          margin-top: 10px;
          margin-bottom: 35px;
        }

        .media {
          display: flex;
          align-items: center;
          gap: 24px;

          img {
            width: 41px;
            height: auto;
          }
        }
      }
    }
  }
}
